<section class="relative bg-light-black py-10 bottom-20 text-center mx-3 rounded-lg">
    <picture class="absolute top-2">
        <img src="../../../../assets/vector.svg" alt="">
    </picture>
    <header class="bg-light-black absolute top-16">
        <h1 class="text-cream font-semibold text-3xl">Our Collection</h1>
        <p class="text-new-gray text-base font-semibold pt-4">
            Introducing our Coffee Collection, a selection of unique coffees from different roast types and origins, expertly roasted in small batches and shipped fresh weekly.
        </p>
        <nav>
            <ul class="flex justify-center items-center space-x-6 mt-8 text-sm  list-none">
                <li class="text-cream font-semibold bg-new-gray rounded-lg p-2">All Products</li>
                <li class="text-cream font-semibold">Available Now</li>
            </ul>
        </nav>

        <div class="sm: grid-cols-1">
            <app-product-card></app-product-card>
        </div>
        
    </header>

   
   
</section>


