 <header class="absolute text-center top-28 px-20">
        <h1 class="text-cream font-semibold text-3xl">Our Collection</h1>
        <p class="text-new-gray text-base font-semibold pt-4">
            Introducing our Coffee Collection, a selection of unique coffees from different roast types and origins, expertly roasted in small batches and shipped fresh weekly.
        </p>
        <!-- <nav>
            <ul class="flex justify-center items-center space-x-6 mt-8 text-sm  list-none">
                <li class="text-cream font-semibold bg-new-gray rounded-lg p-2">All Products</li>
                <li class="text-cream font-semibold">Available Now</li>
            </ul>
        </nav>

        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <app-product-card [product]="product" *ngFor="let product of products"></app-product-card>
        </div> -->
        
</header>